### VS Code ###
.vscode/
CodeTransform/target/*
CodeTransform/target/original-JavaTransformation-1.0-SNAPSHOT.jar
!CodeTransform/target/JavaTransformation-1.0-SNAPSHOT.jar

### Mac OS ###
.DS_Store

data/*

*.sh